/* #vertical-line{
    border: 2px solid rgba(228, 101, 101, 0.787);
    height: 100px;
    width: 0px;
    margin-left: 30px;
    background-image: linear-gradient(orange, tomato) ;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    top: 96px;
    
    

}
h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
    font-size:x-large;
    font-size: 50px;
    color:rgba(97, 94, 94, 0.959);
    margin: 80px;
}
span{
    color: rgb(238, 179, 84);
}
p{
    margin-left: 80px;
    margin-top: 0;
    position: absolute;
    top: 220px ;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

/* } */

body{
    font-family: Poppins;
    margin: 0px;
}
.mission-2022{
    font-family: 'Abril Fatface';
    color: rgb(68, 66, 66);
    font-size: larger;
    font-size: 30px;
    margin-right: 5%;
    padding-left: 10px;
    
    border-left: 5px solid;
    border-image: linear-gradient( tomato, rgb(238, 157, 28));
    border-image-slice: 1;

}

span{
    color: rgba(248, 143, 68, 0.787);

}
p{
    margin-bottom: 50px;
}
.Explore-now{
    text-decoration: none;
    background-color: rgba(228, 68, 10, 0.802);
    background-image: linear-gradient(orange, tomato
    );
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    border-radius: 5px;
    
}
.about-me{
    margin-top: 30px;
}
.image-first-part img{
    width: 400px;
    height: 500px;
    
}
.half-width{
    width: 900px;
}
.container{
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
}


/* --------------------2nd-part--------------- */

#mission{
    color: rgb(46, 45, 45);
    font-size: 30px;
    font-weight:900;
    margin-left: 35%;
    
}
div img{
    width: 150px;
    height: 150px;
    padding-top: 0px;
}
.mission-illustration h2{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 2px;
    
}
.mission-illustration p {
    margin-top: 0px;
}
.mission-illustration{
    border: 5px solid white;
    border-radius: 25px;
    width: 250px;
    height: 250px;
    background-color: rgba(147, 162, 163, 0.329);
    padding:30px;
    padding-bottom: 120px;
    padding-right: 30px;
    
    
}

.half-width-2{
    display: flex;
    margin: 30px;
    margin-left: 150px;
    
}
.half-width-2 div{
    margin-right: 20px;
}
#missions{
    background-color: rgba(202, 196, 196, 0.233);
    
    
}
#vissions{
    background-color: rgba(235, 79, 139, 0.102);
}
#goals{
    background-color: rgba(240, 172, 47, 0.123);
}
#ring{
    width: 20%;
    height:20%;
    margin-left: 45px;

}
#two-girls{
    width: 30%;
    height: 25%;
    margin-left: 10px;
}
.develop-image{
    width: 1400px;
    margin-left: 80px;

}
.develop-headline{
    font-size: 2em;
    font-weight: 900;
    
}
.develop-container{
    display: flex;
}
#develop-para{
    margin-top: -30px;
    font-weight: 200;
}
#develop-link{
    margin-top: -30px;
    
}
.develop-link{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px;
    border-radius: 5px;
}
.develop-description{
    margin-left: -900px;
}



/* ------------3rd Container--------------- */

.community-headline{
    font-size: 2em;
    font-weight: 900;
}
.community-para{
    font-weight: 200;
    width: 550px;
}
.community-link a{
    text-decoration: none;
    background-image: linear-gradient(orange, Tomato) ;
    padding: 10px;
    border-radius: 5px;
}
.community-image img{
    width: 650px;
    height: 650px;
    margin-left: 10px;
}
.container-3{
    display: flex;
    margin-left: 150px ;
}

/* ------------Container-part-five---------------- */

.stay-image img{
    margin-top: -150px;
    margin-left: 280px;
    width: 700px;
    height: 700px;
}
.stay-headline{
    margin-left: 480px;
    margin-top: -200px;
    font-weight: 800;
    font-size: 2em;
}

.stay-para{
    margin-left: 360px ;
    margin-top: -20px;
    font-weight: bolder;
    color: rgb(71, 70, 70);
}
















/* -------------Footer----------- */


footer{
    background-color: rgba(0, 0, 0, 0.877);
    color: aliceblue;
    height: 150px;
    
}
footer div{
    margin-left: 42%;
    padding-top: 10px;
}
#footer{
    font-size: 35px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive;
}
#footer-para{
    color: aliceblue;
    margin-left: -90px ;
    margin-top: -25px;
    font-size: 15px;
}